@import "./globals";
@import "./reset";
// INITIATE ALL VARIABLES

// COLORS
$primaryColor: #293942;
$secondaryColor: #1B262C;
$primaryButton: #7971E9;
$primaryButtonTextColor: #F4EEFF;
$secondaryTextColor: #7971E9;
$primaryLineColor: #7971E9;
$grayishWhite: #F9F8FF80;
$grayishWhiteFooter: #F9F8FF40;
$whiteTextColor: #F9F8FF;


