@import "../../styles/variables";

// HOME HEADER SECTION
.home__header {
    background: $secondaryColor;
    height: 100vh;

        h3 {
            max-width: 610px;
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 52px;
            color: $whiteTextColor;
            margin-top: 150px;
        }

        .button {
            background: $primaryButton;
            border-radius: 4px;
            color: $primaryButtonTextColor;
            font-family: $font-family;
            font-weight: 500;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: .02em;
            padding: 10px 30px;
            max-width: 166px;
            text-decoration: none;
        }

        .btn-wrap {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex-direction: column;

            img {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 100px;
            }

            span {
                img {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    width: 100px;  
                }
            }
        }

        .header__image {
            width: 100%;
            height: 300px;
            // margin-top: 4rem;

            img {
                object-fit: cover;
                width: 100%;
            }
        }
}

// BRANDS SECTION
.home__brands {
    background: $primaryColor;
    padding: 10px 0;

    ul {
        list-style: none;
    }

    .brand__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;

        li {
            padding: 0.9rem;
        }

        img {
            width: 82px;
        }
    }
}