@import "../../styles/variables";

// HOME HEADER SECTION
.home__header {
    background: $secondaryColor;
    height: 90vh;
}

// BRANDS SECTION
.home__brands {
    background: $primaryColor;
    padding: 10px 0;

    ul {
        list-style: none;
    }

    .brand__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;

        li {
            padding: 0.9rem;
        }

        img {
            width: 82px;
        }
    }
}